<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="WelcomeController">

<nav ng-scroll="70" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fulid">
        <p class="navbar-text" style="margin-right: 50px;">Hello World</p>
        <ul class="nav navbar-nav">
            <li ng-repeat="section in sections" ng-class="{'active': activeSection == section}"
                ng-click="clickSection(section);">
                <a ng-if="!section.hasOwnProperty('href')" href="javascript:void(0);">{{section.sectionName}}</a>
                <a ng-if="section.hasOwnProperty('href')" href="{{section.href}}" target="_blank">{{section.sectionName}}</a>
            </li>
        </ul>
        <div class="btn-group navbar-form navbar-left">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Charts<span
                    class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="echarts.html" target="_blank">echarts</a></li>
                <li><a href="highcharts.html" target="_blank">Highcharts</a></li>
                <li><a href="fusioncharts.html" target="_blank">FusionCharts</a></li>
                <li><a href="question.html" target="_blank">Highcharts实例</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav">
            <li class=""><a href="admin.html">后台</a></li>
            <li class=""><a href="#@@" data-toggle="modal" data-target="#instruction">说明</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row" ng-repeat="json in sections" ng-if="json" ng-show="activeSection == json">
        <div ng-class={"col-md-9":!json.data.noNav}>
            <section>
                <div ng-repeat="lv1 in json.data.childs" class="panel panel-info">
                    <div class="panel-heading" id="{{json.sectionId + lv1.id}}">{{lv1.name}}</div>
                    <div class="panel-body">
                        <div ng-html="lv1"></div>
                        <div ng-if="lv1.childs" ng-repeat="lv2 in lv1.childs" class="panel panel-default">
                            <div class="panel-heading" id="{{json.sectionId + lv2.id}}">{{lv2.name}}</div>
                            <div class="panel-body">
                                <div ng-html="lv2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3" ng-if="!json.data.noNav">
            <aside style="position: fixed;">
                <h1>{{json.data.name}}</h1>
                <ul class="nav">
                    <li ng-repeat="lv1 in json.data.childs" ng-class="{'active':lv1.id == activeMenu.id}"
                        ng-click="clickMenu(lv1);">
                        <a ng-href="#{{json.sectionId + lv1.id}}">{{lv1.name}}</a>
                        <ul style="margin-left: 30px;" class="nav" ng-if="lv1.childs">
                            <li ng-repeat="lv2 in lv1.childs" ng-class="{'active':lv2.id == activeMenu.id}"
                                ng-click="clickMenu(lv2);"><a href="#{{json.sectionId + lv2.id}}">{{lv2.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="instruction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Dear all!</h4>
            </div>
            <div class="modal-body">
                <p>
                    本网站供个人学习记录所用，网站源码挂在github上，<a href="https://github.com/17768646814/hello-world" target="_blank">https://github.com/17768646814/hello-world</a>。
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.bootcss.com/angular.js/1.6.1/angular.min.js"></script>
<script>
    var sc = null;
    var app = angular.module('demo', [])
            .controller('WelcomeController', function ($scope, $http, $timeout) {
                sc = $scope;
                sc.config = {};
                $http.get('data/json/' + 'config' + '.json').then(function(data){
                    sc.config=data.data,
                    sc.sections = [{"sectionId": "git", "sectionName": "Git", "data": {}}, {
                        "sectionId": "java",
                        "sectionName": "Java"
                    }, {
                        "sectionId": "nodejs",
                        "sectionName": "Node.js"
                    }, {
                        "sectionId": "url",
                        "sectionName": "网址收藏"
                    }, {
                        "sectionId": "url",
                        "sectionName": "swagger",
                        "href": sc.config.baseUrl + "/swagger-ui.html"
                    }, {
                        "sectionId": "nginx",
                        "sectionName": "nginx笔记"
                    }, {
                        "sectionId": "mac",
                        "sectionName": "mac"
                    }], sc.activeSection = sc.sections[0], sc.activeMenu = null;
                    for (var i = 0; i < 1/*sc.sections.length*/; i++) {
                        initSection(sc.sections[i]);
                    }
                    $timeout(function () {
                        for (var i = 1; i < sc.sections.length; i++) {
                            initSection(sc.sections[i]);
                        }
                    }, 1000);
                }, null);
                function initSection(section) {
                    var secId = section.sectionId;
                    var callBack = (function (secId) {
                        return function (data) {
                            section.data = data.data;
                        }
                    })(secId);
                    $http.get('data/json/' + secId + '.json').then(callBack, null);
                }
                sc.clickSection = function (section) {
                    if (section.hasOwnProperty('href')) {

                    } else {
                        sc.activeSection = section;
                        if (!section.data || JSON.stringify(section.data) == '{}' || section.length == 0) {
                            initSection(section);
                        }
                    }
                }
                sc.clickMenu = function (menu) {
                    activeMenu = menu;
                }
            })
            .directive('ngHtml', function ($compile, $http) {
                return {
                    restrict: 'AC',
                    compile: function ngBindCompile(templateElement) {
                        $compile.$$addBindingClass(templateElement);
                        return function ngBindLink(scope, element, attr) {
                            var json = scope[attr['ngHtml']], url = '';
                            var callBack = (function (scope, attr, json) {
                                return function (data) {
                                    scope.$watch(attr.ngHtml, function ngBindWatchAction(value) {
                                        if (json.hasOwnProperty('codeUrl')) {
                                            var pre = document.createElement("pre");
                                            pre.textContent = data.data;
                                            element.append(pre);
                                        } else if (json.hasOwnProperty('htmlUrl')) {
                                            element[0].innerHTML = data.data;
                                        }
                                    });
                                }
                            })(scope, attr, json);
                            if (json.hasOwnProperty('codeUrl')) {
                                url = json['codeUrl'];
                            } else if (json.hasOwnProperty('htmlUrl')) {
                                url = json['htmlUrl'];
                            }
                            $http.get(url).then(callBack, null);
                        };
                    }
                };
            })
            .directive('ngScroll', ['$window', function ($window) {
                return {
                    restrict: 'AC',
                    compile: function (ele, attr) {
                        $window = angular.element($window);
                        $window.on('scroll', function (event) {
                            if (attr['ngScroll'] < $window[0].scrollY) {
                                ele.css({display: 'none'});
                            } else {
                                ele.css({display: ''});
                            }
                        });
                    }
                };
            }
            ]);
    angular.bootstrap(document, ['demo']);

</script>
</body>
</html>